*.*
!*.cpp
!*.h
!TouhouAIUI/TouhouAIUI.sln
!TouhouAIUI/TouhouAIUI/App.config
!TouhouAIUI/TouhouAIUI/App.xaml
!TouhouAIUI/TouhouAIUI/App.xaml.cs
!TouhouAIUI/TouhouAIUI/MainWindow.xaml
!TouhouAIUI/TouhouAIUI/MainWindow.xaml.cs
!TouhouAIUI/TouhouAIUI/ReadMe.txt
!TouhouAIUI/TouhouAIUI/TouhouAIUI.csproj
!TouhouAIUI/TouhouAIUI/TouhouAIUI.csproj.user

!TouhouAIUI/TouhouAIUI/Properties/*
!TouhouAIUI/TouhouAIUI/bin/Release/template/*
!TouhouAIUI/TouhouAIUI/bin/Release/template/temp/*
!TouhouAIUI/TouhouAIUI/bin/Release/template/temp2/*
!.gitignore